body {
    background: lavender;
    display: grid;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.search-results {
    justify-content: center;
    justify-items: center;
}

.logout {
    margin-top: 200px;
}

nav {
    display: flex;
    justify-content: space-evenly;
    background: linear-gradient(50deg, #4E3883, #c9b6f6);
    color: #FFDDCC;   
    padding: 15px 25px 25px 20px;
    margin: -10px -10px 20px -10px;
    position: fixed;
    font-weight: bolder;
    width: 100%;
}

.new-recc {
    height: 110px;
    align-items: center;
}

#search-nav {
    height: 100px;
    align-items: center;
}

.home {
    display: grid;
}

.homepage-heading {
    font-size: 40px;
    margin-bottom: 0;
}

.welcome-message {
    font-size: 18px;
}

.recommendation-link-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-right: 30px;
    position: relative;
}

.recommendation-link {
    font-size: 20px;
    padding: 30px 50px;
    color: #6347a4;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    display: inline-block;
    background-color: #FFDDCC;
    border-radius: 1000px;
}

.recommendation-link:hover {
    background-color: #c4f5ea;
}

.all-tv-recommendations{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 3fr));
    padding: 0px 100px 100px 100px;
}

.new-recommendations {
    padding: 40px 100px 100px 100px;
}

div {
    
}

.recco-box {
    border: double #c9b6f6;
    border-radius: 60px;
    border-width: 30px;
    margin: 60px 60px 30px 60px;
    padding: 20px;
    background: #FFF;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 350px;
    text-align: center;
}

#new-recc-box {
    margin-top: 150px;
    max-width: 700px;
    max-height: none;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    border-width: 50px;
    overflow-x: none;
    overflow-y: none;
    color: gray;
}

.date_posted {
    font-size: 12px;
}

div img {
    max-width: 100%;
    max-height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.user-comments {
    padding:4px;
    height: 110px;
    background-color:#fdf2ec;
    overflow-x: hidden;
    overflow-y: auto;
}

.indiv-comment {
   margin-bottom: 0;
}

.comment-date {
    margin-top: 0;
}

#user_comment {
    width: 100%;
    height: 50px;
}

#search-result-list {
    margin-top: 200px;
}

#search-result-list {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    list-style-type: none;
}

li {
    list-style-type: none;
    margin: 20px;
    text-align: center;
}

#API-movie-link {
    text-decoration: none;
    color: rebeccapurple;
}

/* Login */

.login-page {
    background-image: url(./images/photo-1607707972895-7f994d8c2f3b.avif);
    background-position: 100% 43%;
    background-size: cover; 
    display: flex;
    height: 90vh;
    align-items: stretch;
    justify-content: center;
}

.login-portal {
    /* background: #FFF; */
    background: rgba(0,0,0,.3);
    color: #FFDDCC;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 420px;
    border: double;
    border-width: 60px;
    border-radius: 140px 140px 60px 60px;
    margin-top: 90px;
    margin-bottom: 50px;
}

.login-message {
    margin-bottom: 30px;
    margin-top: 60px
}

.login-input {
    width: 160px;
    border: none;
    border-bottom: 3px solid #FFDDCC;
    border-radius: 5px;
    background: rgba(0,0,0,.3);
    color: #ebe7e4;
    height: 20%;
    margin-top: 15px;
    margin-bottom: 30px;
}

#new-recc-input {
    width: 350px;
    height: 30px;
    background: #e6e6fa7a;
    color: gray;
    font-size: 15px;
    text-align: center;
}

#search-input {
    width: 290px;
    height: 30px;
    background: #e6e6fa2b;
    margin-top: 50px;
    margin-bottom: 0;
    color: darkgray;
    text-align: center;
    border-bottom: none;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

#finish-recc-input {
    width: 350px;
    height: 30px;
    background: #e6e6fa7a;
    color: gray;
    font-size: 15px;
    text-align: center;
    border: none;
}

.login-button {
    font-size: 20px;
    padding: 5px 40px;
    color: #6347a4;
    text-decoration: none;
    background-color: #FFDDCC;
    border-radius: 100px 30px;
    border: dashed;
    margin-left: 14px;
    margin-top: 15px;
    opacity: 0.88;
}

#add-recommendation-button {
    border-radius: 100px;
    border: double;
}

#search-button {
    font-size: 15px;
    border: none;
    padding: 5px;
    color: #6347a4;
    opacity: 0.88;
}

.login-button:hover {
    background-color: #6347a4;
    color: #FFDDCC;
    opacity: 0.88;
}

.sign-up {
    color: #FFDDCC;
    background: rgba(0,0,0,.2);
    font-size: 14px;
    text-align: center;
    margin-top: 140px;
    margin-bottom: 20px;
    padding-left: 2px;
    padding-right: 2px;
}

/* Wrong login details */

.wrong-login-portal {
    background: rgba(0,0,0,.4);
    color: #FFDDCC;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 420px;
    border: double;
    border-width: 60px;
    border-radius: 140px 140px 60px 60px;
    margin-top: 90px;
    margin-bottom: 50px;
}

.wrong-login-message {
    font-size: 20px;
    text-align: center;
    margin-top: 40px;
}

.login-button-wrong {
    font-size: 20px;
    padding: 5px 40px;
    color: #6347a4;
    text-decoration: none;
    background-color: #FFDDCC;
    border-radius: 100px 30px;
    border: dashed;
    margin-left: 14px;
    opacity: 0.88;
}

.login-button-wrong:hover {
    background-color: #6347a4;
    color: #FFDDCC;
    opacity: 0.88;
}

.sign-up-below {
    margin-top: 100px;
    margin-bottom: 0px;
    font-size: 15px;
}

.wrong-login-sign-up {
    color: #FFDDCC;
    background: rgba(0,0,0,.2);
    font-size: 14px;
    text-align: center;
    margin-bottom: 20px;
    padding-left: 2px;
    padding-right: 2px;
}

/* Sign up */

#sign-up-body {
    background-position: top;
}

#sign-up {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    background: rgba(0,0,0,.5);
}

.signup-input {
    width: 160px;
    border: none;
    border-bottom: 3px solid #FFDDCC;
    border-radius: 5px;
    background: rgba(0,0,0,.3);
    color: #ebe7e4;
    height: 40px;
    margin-top: 15px;
    margin-bottom: 30px;
}

.sign-up-button {
    font-size: 20px;
    padding: 5px 40px;
    color: #6347a4;
    text-decoration: none;
    background-color: #FFDDCC;
    border-radius: 100px 30px;
    border: dashed;
    margin-top: 15px;
    opacity: 0.8;
}

.sign-up-button:hover {
    background-color: #6347a4;
    color: #FFDDCC;
    opacity: 0.88;
}