<h1>Finish your recommendation!</h1>

<h3><%= movie_title %></h3>
<img src="<%= selected_image %>" alt="">

<form action="/recommend_tv_show" method="POST">
    
    <input type="hidden" name="name" value="<%= movie_title %>">

    <input type="hidden" name="image_url" value="<%= selected_image %>">

    <label for="">Why are you backing it? </label>
    <input type="text" name="description">

    <label for="">Where to watch: </label>
    <input type="text" name="where_to_watch">

    <button>Add recommendation</button>

</form>
