<nav class="new-recc">
    <h1>What should your followers be watching?</h1>
</nav>

<div class="new-recommendations">
    <div class="recco-box" id="new-recc-box">
        <form action="/recommend_tv_show" method="POST">
            <label for="">Name </label><br>
            <input type="text" name ="name" class="login-input" id="new-recc-input"><br>

            <label for="">Insert your own image (or search for one below)</label><br>
            <input type="text" name="image_url" class="login-input" id="new-recc-input"><br>

            <label for="">Why are you backing it? </label><br>
            <input type="text" name="description" class="login-input" id="new-recc-input"><br>

            <label for="">Where to watch </label><br>
            <input type="text" name="where_to_watch" class="login-input" id="new-recc-input"><br>

            <button class="login-button" id="add-recommendation-button">SHARE</button><br>

        </form>
            <form action="/search_results">
                <input type="text" name ="search_input" class="login-input" id="search-input" placeholder="Search for an image here">
                <button id="search-button">Search</button>
            </form>
    </div>

</div>