<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search results</title>
</head>
<body class="search-results">
    <nav id="search-nav"><h1>Found what you want? Click on an image to select</h1></nav>
    <div id="search-result-list-container">
        <div id="search-result-list">
            <% movie_info.each do |movie_hash| %>
            <li>
                <a href="/new/api_image?movie_title=<%= movie_hash['Title']%>" id="API-movie-link">
                    <%= movie_hash['Title']%><img src="<%= movie_hash['Poster']%>" alt="">
                </a>
            </li>
            <% end %>
        </div>
    </div>
</body>
</html>