<body class="login-page">

    <section class="wrong-login-portal">
        <h2 class="wrong-login-message">Uh-oh... those login details do not exist. Please try again.</h2>
        <form action="/sessions" method="POST">
            <label for="">Email </label><br>
            <input type="text" class="login-input" name='email' placeholder="Enter your email"><br>

            <label for="">Password </label><br>
            <input type="password" class="login-input" name='password' placeholder="Enter your password"><br>

            <button class="login-button-wrong">Login</button>
        </form>

        <h1 class="sign-up-below">Or sign up below!</h1>
        <a href="/sign_up" class="wrong-login-sign-up">Sign up</a>
    </section>
</body>