<h1>Uh-oh... you entered the wrong login details. Please try again.</h1>
<form action="/sessions" method="POST">
    <label for="">Email: </label>
    <input type="text" name='email'>

    <label for="">Password: </label>
    <input type="password" name='password'>

    <button>Login</button>
</form>

<h1>Otherwise sign up below!</h1>
<a href="/sign_up">Sign up</a>