<body class="login-page" id="sign-up-body">
    <section class="login-portal" id="sign-up">
        <%# <h2 class="login-message">Sign up</h1> %>
        <form action="/create_user" method="POST">
            <label for="">Name </label><br>
            <input type="text" class="signup-input" name="name" placeholder="Enter your name"><br>

            <label for="">Email </label><br>
            <input type="text" class="signup-input" name="email" placeholder="Enter your email"><br>

            <label for="">Password </label><br>
            <input type="password" class="signup-input" name="password" placeholder="Enter your password"><br>

            <button class="sign-up-button">Sign up</button>
        </form>
    </section>
</body>